@import 'app-theme.scss';

:host {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px 10px;
    width: calc(100% - 15px);
    min-height: 98px;
    background-color: $snippet-info-background-color;
    cursor: pointer;
    .snippet-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        a {
            font-size: 11px;
            color: $red;
            border: none;
            &:hover {
                color: $red-light;
            }
        }
    }
}

:host:hover {
    background-color: $snippet-info-background-hover-color;
}

.files {
    height: 0px;
    transition: height 0.15s ease;
    overflow: hidden;
    border-radius: 10px;
    background-color: $snippet-desc-background-color;
    font-size: 0.7em;
}

.files .file-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
    a {
        padding: 5px;
        font-size: 1.4em;
        border-radius: 20px;
        border: none;
    }
    a:hover {
        background-color: $grey-300;
    }
    .left, .right {
        display: flex;
        gap: 10px;
    }
}

.comment-button.selected {
    background-color: $grey-300;
}

.snippet-content.selected { 
    .files {
        height: fit-content;
        transition: height 0.20s ease;
        width: 100%;
        padding: 5px 5px;
        margin: 5px 0px 5px 0px;
    }
}

.snippet-content:focus {
    outline: none;
}

.title {
    margin: 0;
    font-size: 1em;
    margin-bottom: 5px;
}

.description {
    display: block;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    padding: 5px 5px;
    margin-bottom: 5px;
    background-color: $snippet-desc-background-color;
    font-size: 0.7em;
}

.languages {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 50%;
}

.creator {
    align-self: flex-start;
    display: flex;
    width: 50%;
    font-size: 0.7em;
    font-weight: bold;
    color: $red-light;
    justify-content: flex-end;
}

.footer {
    display: flex;
    flex-direction: row;
}