@import 'app-theme.scss';

:host ::ng-deep .form-content {
    width: 450px;
    max-width: 500px;
    overflow: hidden;
}

.submit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    margin: 0;
    * > {
        width: 50px;
    }
}

.fields {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

::ng-deep {
    .p-dropdown {
        min-width: 200px;
    }
}