@import 'app-theme.scss';

$snippet-list-max-width: 330px;

@media screen and (max-width: 768px) {
    :host {
        max-width: unset;
        ::ng-deep .content .p-scrollpanel {
            height: 450px;
        }
    }
}

@media screen and (min-width: 768px) {
    :host {
        max-width: $snippet-list-max-width;
        min-width: $snippet-list-max-width;
        ::ng-deep .content .p-scrollpanel {
            height: calc(100vh - var(--header-height) - 5px);
        }
    }
}

:host {
    // flex: 1 $snippet-list-max-width auto;
    background-color: $snippet-list-background-color;
    .empty {
        border-radius: 10px;
        padding: 5px 10px;
        width: calc(100% - 15px);
        height: fit-content;
        background-color: $snippet-info-background-color;
        text-align: center;
    }
}

::ng-deep .content .p-scrollpanel {
    width: 100%;
}

::ng-deep .content .p-scrollpanel-bar {
    background-color: $snippet-list-scroll-background-color;
    opacity: 1;
    transition: background-color .2s;
    &:hover {
        background-color: $snippet-list-hover-scroll-background-color;
    }
}

::ng-deep .p-scrollpanel-content {
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100% !important;
}

.snippet {
    display: flex;
}

.snippet:focus {
    background-color: $snippet-info-background-hover-color;
}