
<div id="header" class="p-grid">
  <!-- header content -->
  <div class="p-grid p-col right">
    <span class="logo" (click)="navigateHome()">SNI<span>PP</span>ET</span>

    <!-- right header content -->
    <span class="p-input-icon-left input-search">
      <i class="pi pi-search"></i>
      <input #search (focus)="searchFocus()" class="input-sm" type="text" pInputText />
    </span>
  </div>

  <div class="p-grid p-col center" *ngIf="isAuth">
    <a class="fas fa-folder-plus add-snippet" (click)="createNewSnippet()" pTooltip="Create new snippet" tooltipPosition="bottom"></a>
  </div>

  <div class="p-grid p-col left">
    <!-- left header content -->
    <div class="login-buttons" *ngIf="!isAuth">
      <a (click)="showSignInDialog()">Log in<i class="pi pi-key"></i></a>
      <a (click)="showSignUpDialog()">Register<i class="pi pi-id-card"></i></a>
    </div>
    <div class="navigation-buttons" *ngIf="isAuth">
      <a class="fas fa-sign-out-alt" (click)="logout()" pTooltip="sign out"></a>
    </div>
  </div>
</div>

<p-dialog 
  position="top-right"
  [showHeader]="false"
  [(visible)]="signInDisplay"
  (clickOutside)="onClickOutsideSignInDialog($event)"
  [draggable]="false">
  <app-sign-in (displaySignUpEvent)="showSignUpDialog()" ></app-sign-in>
</p-dialog>

<p-dialog 
  position="top-right"
  [showHeader]="false"
  [(visible)]="signUpDisplay"
  (clickOutside)="onClickOutsideSignUpDialog($event)"
  [draggable]="false">
  <app-sign-up (displaySignInEvent)="showSignInDialog()"></app-sign-up>
</p-dialog>

<p-dialog 
  [showHeader]="false"
  [showHeader]="false"
  [(visible)]="snippetNewDisplay">
  <app-snippet-new 
    (canceled)="cancelSnippetCreation()"
    (created)="snippetCreated($event)">
  </app-snippet-new>
</p-dialog>