@import './color-config.scss';
@import './size-config.scss';
@import './font-config.scss';

// override prime component css
@import './override-prime-input.scss';
@import './override-prime-button.scss';
@import './override-prime-tree.scss';
@import './override-prime-dialog.scss';

// colors variables
$form-background-color: $grey-400;
$form-text-color: $text-color;
$form-label-color: $grey;

$snippet-list-scroll-background-color: $grey-500;
$snippet-list-hover-scroll-background-color: $grey-400;
$snippet-list-background-color: $grey-700;

$snippet-info-background-hover-color: $grey-400;
$snippet-desc-background-color: $grey-700;
$snippet-info-background-color: $grey-500;

$add-snippet-link-color: $green;
$add-snippet-link-hover-color: $green-light;

body {
    font-family: Roboto, 'Open Sans', Arial, sans-serif;
    margin: 0px;
    font-size: 12px !important;
    background-color: $background-color;
    color: $text-color;
    height: 100vh; // need mobile adaptation
    overflow-y: hidden; // need mobile adaptation
}

.logo {
    font-family: Cubicode;
    font-size: 24px !important;
    color: $text-color;
    user-select: none;
    cursor: auto;
    span {
        color: $red;
    }
}

.p-grid {
    margin: 0 !important;
}

.flex {
    display: flex;
}

.p-field {
    display: flex;
    flex-direction: column;
}

a {
    border-bottom: 1px $link-color dotted;
    cursor: pointer;
}

a:hover {
    border-bottom: 1px $link-color solid;
}

.p-field > label {
    color: $form-label-color;
}

textarea {
    resize: none;
}

::ng-deep .p-dialog .p-dialog-content {
    background-color: $form-background-color;
    color: $form-text-color;
    padding: 1rem 1.7rem;
}

:host .p-inputtext:enabled:focus {
    border-color:#ced4da !important; //to avoid border color change
    box-shadow: none !important;
}