@import './color-config.scss';
@import './size-config.scss';
@import './font-config.scss';

$background-color: $grey-400;

$text-color: $grey;
$text-hover-color: $white;

$link-color: $grey;

$input-background-color: $grey-700;
$input-color: $grey;
$input-border-color: $grey-800;

$checkbox-background-color: $grey-700;
$checkbox-color: $grey;
$checkbox-border-color: $grey-800;

$form-background-color: $grey-400;
$form-label-color: $grey;
$form-text-color: $text-color;

$snippet-list-background-color: $grey-700;
$snippet-list-scroll-background-color: $grey-500;
$snippet-list-hover-scroll-background-color: $grey-400;

$snippet-info-background-color: $grey-500;
$snippet-info-background-hover-color: $grey-400;
$snippet-desc-background-color: $grey-700;

$add-snippet-link-color: $green;
$add-snippet-link-hover-color: $green-light;

/* #region input */
input {
    background-color: $input-background-color;
    border-color: $input-border-color;
    color: $input-color;
    &:enabled:focus {
        box-shadow: none;
        border-color: $input-border-color;
    }
    &:enabled:hover {
        border-color: $input-border-color;
    }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: $input-border-color;
    -webkit-text-fill-color: $input-color;
    -webkit-box-shadow: 0 0 0px 1000px $input-background-color inset;
    box-shadow: 0 0 0px 1000px $input-background-color inset;
    transition: background-color 5000s ease-in-out 0s;
}
/* #endregion input */

/* #region checkbox */
::ng-deep .p-checkbox .p-checkbox-box
::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
    background-color: $checkbox-background-color;
    border-color: $checkbox-border-color;
    color: $checkbox-color;
}

::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box,
::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight,
::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus,
::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover,
::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover,
::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus:hover {
    box-shadow: none;
    border-color: $checkbox-border-color;
    background: $checkbox-background-color;
    color: $checkbox-color;
}
/* #endregion checkbox */

a {
    border-bottom: 1px $link-color dotted;
    cursor: pointer;
}

a:hover {
    border-bottom: 1px $link-color solid;
}

::ng-deep .p-dialog .p-dialog-content {
    background-color: $form-background-color;
    color: $form-text-color;
    padding: 1rem 1.7rem;
}

.p-field > label {
    color: $form-label-color;
}