
/* #region General */
$white: #fff;
$black: #000;

$grey-400: #36393F; // background
$grey-500: #2F3136; // background-card
$grey-700: #202225; // dark
$grey-300: #313339; // input background
$grey-600: #222428; // border input
$grey-800: #040405; // hover input

$grey: #8E9297; // p
$grey-white: #F2F2F2; // h

$green: #82E0AA;
$green-light: #D0F3DF;
$green-dark: #45B39D;

$red: #EC7063;
$red-light: #F8C9C4;

$orange: #F2994A;

$blue: #85C1E9;
$blue-light: #D1E8F7;
$blue-dark: #3498DB;
/* #endregion General */