
/* #region General */
$white: #fff;
$black: #000;

$grey-300: #313339;
$grey-500: #2F3136;
$grey-400: #36393F; // app background
$grey-600: #222428;
$grey-700: #202225;
$grey-800: #040405;

$grey: #8E9297; // p
$grey-white: #F2F2F2; // h

$green: #82E0AA;
$green-light: #D0F3DF;
$green-dark: #45B39D;

$red: #EC7063;
$red-light: #F8C9C4;
$red-dark: #CB4335;

$yellow: #F7DC6F;

$orange: #F2994A;

$blue: #85C1E9;
$blue-light: #D1E8F7;
$blue-dark: #3498DB;
/* #endregion General */

/* #region elements */
$background-color: $grey-400;
$text-color: $grey;
$text-hover-color: $white;
$link-color: $grey;
/* #endregion elements*/