

<div class="edit-content">
  <!--<h1>{{ file.FileName }} test</h1>-->
  <h1 class="title">Edit snippet file</h1>
  <div class="content">
    <div class="actions">
      <!--
      <a class="fas fa-trash-alt" pTooltop="Delete this file"></a>
      -->
    </div>
    <!-- file content -->
    <div class="file">
      <pre>
        <code 
          id="editor"
          contenteditable="true"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          [highlight]="data"
          [lineNumbers]="true"
          onchange="test($event)">
        </code>
      </pre>
    </div>
  </div>
</div>

