<div class="content">
  <h1 class="title">Welcome on SNIPPET</h1>
  <div class="info">
    <div class="desc">
      Snippet is intended for developers who want to keep small pieces of code aside in order to reuse them later.
    </div>
    <div class="version">
      Snippet <b>version</b>: <b style="color: #82E0AA;">1.0</b>
      <br><br>
      <b>Features</b> list:
      <br><br>
      - As <b style="color: #F2994A">guest</b> and <b style="color: #82E0AA">user</b>, you can <b>read</b> existing snippets<br>
      - As <b style="color: #82E0AA">user</b>, you can <b>create</b> a new snippet<br>
      - As <b style="color: #82E0AA">user</b>, you can <b>update</b> your snippets<br>
      - As <b style="color: #82E0AA">user</b>, you can <b>delete</b> your snippets<br>
      
      <br><br>
      As <b style="color: #82E0AA">user</b>, you can <b>add</b> a new file to your snippet<br>
      As <b style="color: #82E0AA">user</b>, you can <b>delete</b> a file from your snippet<br>

      <br><br>
      - As <b style="color: #82E0AA">user</b>, you can <b>add</b> a new comment to existing snippets<br>
      - As <b style="color: #82E0AA">user</b>, you can <b>delete</b> your comments<br>
      - As <b style="color: #82E0AA">user</b>, you can <b>update</b> your comments<br>

      <br><br>
      - As <b style="color: #82E0AA">user</b>, you can <b>like</b> a snippet<br>
    </div>
    
    <div class="dev">
      Created by <b style="color: #EC7063">@Diuxx</b><br>
      Github: <a>https://github.com/Diuxx</a>
    </div>
  </div>
</div>
